
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: black;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(/earth2.jfif);
  background-repeat: no-repeat;
  background-position: -450px 100px;
  background-size: 1150px 650px;
}
@media (max-width: 1081px) {
  body {
    background-position: -750px 100px;
  }
}

