.flex_wrapper {
    display: flex;
    margin-left: 527px;
    align-items: flex-start;
}
@media (max-width: 1081px) {
    .flex_wrapper {
        margin-left: auto;
        justify-content: center;
    }
}
